/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';


.event-b-g {
  background: #000!important;
}


.event-color{
   color: #FCC938;
}
.task-color{
  color: #00BD9B;
}
.followup-color{
  color: #5FA4DC;
}
.cus-event-bg {
	background-color: #FCC938!important;
	border: 1px solid #FCC938;
}
.cus-task-bg {
	background-color: #00BD9B!important;
	border: 1px solid #00BD9B;
}

.cus-followup-bg {
	background-color: #5FA4DC!important;
	border: 1px solid #5FA4DC;
}
